<div class="hero-unit">
  <h2>Survey on Health Card Subscription</h2>
  <p>A simple web app for storing records.</p>
  <p>
    <a href="/" class="btn btn-primary btn-large">Create new record now...</a>
  </p>
</div>
