<div class="hero-unit span8 offset1">
  <h2>Survey on Health Card Subscription - PIA</h2>
  <p>A simple web app for storing records.</p>
  <p>
    <a href="/new" class="btn btn-primary btn-large">Create new record now...</a>
  </p>
</div>
