%form(id="theform" action="/create" method="post")
  #personal-details
    %h3 Personal Details:
    %label(for="name") Name
    %input(type="text" name="name" autofocus="autofocus" placeholder="Please input full name here...")

    %label(for="gender") Gender
    %select(name="gender")
      %option(value="M") Male
      %option(value="F") Female

    %label(for="age") Age
    %input(type="number" name="age" min="16")

    %label(for="region") Regions
    %select(name="region" onchange="setCategory(this)")
      %option(value="" selected) Select Region
      %option(value="Region I") Region I (Ilocos Region)
      %option(value="Region II") Region II (Cagayan Valley)
      %option(value="Region III") Region III (Central Luzon)
      %option(value="Region IVa") Region IVa (CALABARZON)
      %option(value="Region IVb") Region IVb (MIMAROPA)
      %option(value="Region V") Region V (Bicol Region)
      %option(value="Region VI") Region VI (Western Visayas)
      %option(value="Region VII") Region VII (Central Visayas)
      %option(value="Region VIII") Region VIII (Eastern Visayas)
      %option(value="Region IX") Region IX (Zamboanga Peninsula)
      %option(value="Region X") Region X (Northern Mindanao)
      %option(value="Region XI") Region XI (Davao Region)
      %option(value="Region XII") Region XII (SOCCSKSARGEN)
      %option(value="Region XIII") Region XIII (Caraga Region)
      %option(value="CAR") CAR (Cordillera Administrative Region)
      %option(value="NCR") NCR (National Capital Region)

    %label(for="province") Provinces
    %select(id="province" name="province")

    %label(for="division") Divisions
    %select(id="division" name="division")
      %option(value="Regional Office") Regional Office
      %option(value="PCRD") PCRD
      %option(value="ROD") ROD
      %option(value="NEWS DESK") NEWS DESK
      %option(value="ADMIN") ADMIN
      %option(value="ACCOUNTING") ACCOUNTING
      %option(value="BUDGET") BUDGET
      %option(value="CPSD") CPSD
      %option(value="PMD") PMD
      %option(value="PMU") PMU
      %option(value="HRDD") HRDD
      %option(value="MISD") MISD
      %option(value="ODG") ODG
      %option(value="ODDG") ODDG

    %label(for="nature") Nature of Employment
    %select(name="nature")
      %option(value="contractual") Contractual
      %option(value="permanent") Permanent

    %label(for="email") Email
    %input(type="email" name="email")

    %label(for="cpno") Cellphone no.
    %input(type="text" name="cpno")

    %label(for="other_cpno") Other Cellphone no.
    %input(type="text" name="other_cpno")

  #employee-health
    %h3 Employee Health Card Program Need
    %ol
      %li Do you have an existing Health &amp; Management Office (HMO) / Health Card?
      %select(name="emp_hcp_ans1")
        %option(value="yes") Yes
        %option(value="no") No

      %li If no, do you think, you need to subscribe to a Health Card program?
      %select(name="emp_hcp_ans2")
        %option(value="yes") Yes
        %option(value="no") No

      %li If yes, what health services do you want covered by the Health Card program? 
      #six-chbox-one-input-text
        %input(class="cbox" type="checkbox" name="ape" value="Annual Physical Examination") 
          %span(class="emp_checkbox")Annual Physical Examination<br />
        %input(class="cbox" type="checkbox" name="ipc" value="In-Patient Care (hospital admission)")
          %span(class="emp_checkbox")In-Patient Care (hospital admission)<br />
        %input(class="cbox" type="checkbox" name="opc" value="Out-Patient Care (clinic-based)")
          %span(class="emp_checkbox")Out-Patient Care (clinic-based)<br />
        %input(class="cbox" type="checkbox" name="ec" value="Emergency Care")
          %span(class="emp_checkbox")Emergency Care<br />
        %input(class="cbox" type="checkbox" name="dc" value="Dental Care")
          %span(class="emp_checkbox")Dental Care<br />
        %input(class="cbox" type="checkbox" name="fca" value="Financial Care Assistance")
          %span(class="emp_checkbox")Financial Care Assistance<br />
        %span(id="other_span") Others (pls. specify)
        %input(type="text" name="others") <br />
      %input(type="checkbox" id="no_answer" name="no_answer" value="No Answer")
        %span(class="emp_checkbox")No Answer

  #financial-considerations
    %h3 Financial Considerations
    %ol
      %li Are you willing to spend personal money to finance your subscription to a Health Card program (thru a corporate account with a HMO)?
      %select(name="fin_ans1")
        %option(value="yes") Yes
        %option(value="no") No

      %li If yes, how much are you willing to spend for your Health Card subscription?
      %select(id="fin_amount" name="fin_amount" onchange="createInputTextBox()")
        %option(value="Below P500 / monthly") Below P500 / monthly
        %option(value="P500 / monthly") P500 / monthly
        %option(value="Above P500 / monthly") Above P500 / monthly
        %option(value="P1000 / monthly") P1000 / monthly
        %option(value="Above P1000 / monthly") Above P1000 / monthly
        %option(value="others") Other amount, pls. specify

      <!-- pre-generated input textbox from javascript -->
      #others

  <!-- lazy way to do a space between floated content -->
  <div style="clear: left;"></div>

  #comments
    %h3 Employee Comments / Suggestions / Queries
    %p Please fill-in the space provided with your comments and suggestions that may not have been covered by this survey form.
    %textarea(rows="4" name="comments")

  %button(type="button")Save
