%form(action="/create" method="post")
  #personal-details
    %h3 Personal Details:
    %label(for="name") Name
    %input(type="text" name="name" placeholder="Please input full name here...")

    %label(for="gender") Gender
    %select(name="gender")
      %option(value="M") Male
      %option(value="F") Female

    %label(for="age") Age
    %input(type="number" name="age")

    %label(for="region") Region
    %input(type="text" name="region")

    %label(for="province") Province
    %input(type="text" name="province")

    %label(for="nature") Nature of Employment <br /> (contractual, permanent)
    %input(type="text" name="nature")

    %label(for="email") Email
    %input(type="text" name="email")

    %label(for="cpno") Cellphone no.
    %input(type="text" name="cpno")

  #employee-health
    %h3 Employee Health Card Program Need
    %ol
      %li Do you have an existing Health &amp; Management Office (HMO) / Health Card?
      %select(name="first_question")
        %option(value="yes") Yes
        %option(value="no") No

      %li If no, do you think, you need to subscribe to a Health Card program?
      %select(name="second_question")
        %option(value="yes") Yes
        %option(value="no") No

      %li If yes, what health services do you want covered by the Health Card program? 
      %input(type="checkbox" value="Annual Physical Examination")Annual Physical Examination<br />
      %input(type="checkbox" value="In-Patient Care (hospital admission)")In-Patient Care (hospital admission)<br />
      %input(type="checkbox" value="Out-Patient Care (clinic-based)")Out-Patient Care (clinic-based)<br />
      %input(type="checkbox" value="Emergency Care")Emergency Care<br />
      %input(type="checkbox" value="Dental Care")Dental Care<br />
      %input(type="checkbox" value="Financial Care Assistance")Financial Care Assistance<br />
      %span Others (pls. specify)
      %input(type="text" name="others") <br />
      %input(type="checkbox" value="No Answer")No Answer

  #financial-considerations
    %h3 Financial Considerations
    %ol
      %li Are you willing to spend personal money to finance your subscription to a Health Card program (thru a corporate account with a HMO)?
      %select(name="financial_first_question")
        %option(value="yes") Yes
        %option(value="no") No

      %li if yes, how much are you willing to spend for your Health Card subscription?
      %select(name="financial_second_question")
        %option(value="Below P500 / monthly") Below P500 / monthly
        %option(value="P500 / monthly") P500 / monthly
        %option(value="Above P500 / monthly") Above P500 / monthly
        %option(value="P1000 / monthly") P1000 / monthly
        %option(value="Above P1000 / monthly") Above P1000 / monthly
        %option(value="other amount") Other amount, pls. specify

      %input(type="text" name="others") <br />

  <!-- lazy way to do a space between floated content -->
  <div style="clear: both;"></div>

  #comments
    %h3 Employee Comments / Suggestions / Queries
    %p Please fill-in the space provided with your comments and suggestions that may not have been covered by this survey form.
    %textarea(rows="4" name="comments")


  %input(type="submit" value="Save")
