!!! 5
%html
  %head
    %link(rel="stylesheet" href="css/style.css")
    %script(src="js/jquery-1.7.2.min.js")
    %script(src="js/custom.js")
    %script(src="js/select_item.js")
    %title= @title
  
  %body
    %header
      %p Survey on Health Card Subscription

    #main-content
      = yield

    %footer
      %p Copyright &copy; 2012
