<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/select_item.js"></script>
	<title><%= @title %></title>
</head>
<body>
	<header>
		<p>Survey on Health Card Subscription</p>
	</header>
	<div id="main-content">
		<%= yield %>
	</div>
	<footer>
		<p>Copyright &copy; 2012</p>
	</footer>
</body>
</html>